.addProduct{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.addProductForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-component{
    margin: 10px 0px;
}