.addProduct{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 0px auto;
}

.addProductForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-component{
    margin: 10px 0px;
}

.addCard{
    width: 80%;
}

@media(max-width:1700px){
    .addProduct{
        margin-top: 30px;
    }

    .addCard{
        width: 100%;
    }
}