.invoice{
    width: 700px;
}
.invoiceTime div{
    margin-bottom: 10px;
    font-weight: bold;
}
.invoiceItem{
    margin: 50px 0px;
}

.invoiceFooter{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.invoiceHeading h1{
    font-weight: normal;
}