.navigation{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.nav-btn{
    margin: 15px 10px;
}

.navStoreLogo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}