.addCategory{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 0px auto;
}

.addCategoryForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-component{
    margin: 10px 0px;
}