.addCategory{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 0px auto;
}

.addCategoryForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addCard{
    width: 80%;
}

.form-component{
    margin: 10px 0px;
}

@media(max-width: 1700px){
    .addCard{
        width: 100%;
    }

    .addCategory{
        margin-top: 30px;
    }
}