.store{
    display: grid;
    grid-template-columns: 20% 55% 20%;
    padding-top: 30px;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.9);
}

.store-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 0px auto;
    padding-top: 50px;
}

.store-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 4px grey solid;
    border-left: 4px grey solid;
    width: 80%;
    margin: 10px 10%;
    padding-top: 50px;
}

.storebill{
    width: 20%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}