.content{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalogArea{
    width: 90%;
    margin-top: 20px;
}

.catalog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
}

.catalogItem{
    transition: transform .2s;
    margin-bottom: 30px;
}

.cropped{
    height: 300px;
    width: 400px;
    overflow: hidden;
}

.croppedTile{
    width: 400px; 
    height: 300px; 
    object-fit: cover;
}
.catalogItem:hover{
    transform: scale(1.05);
}

@media (max-width: 800px){
    .catalog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}