.dashboard{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: flex-start;
    padding-top: 100px;
    width: 80%;
    margin: 0px auto;
}

.dashboardMobile{
    display: none;
}

@media(max-width: 1700px){
    .dashboard{
        display: none;
    }

    .dashboardMobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}