.menucard{
    margin: 25px 0px;
    width: 100%;
}

.itemlist{
    display: flex;
    flex-direction: column;
    border-top: 1px black solid;
    padding-top: 10px;
}

.store-item{
    display: grid;
    grid-template-columns: 60% 25% 25%;
    justify-items: flex-start;
    align-items: center;
    padding: 0px 5%;
    font-size: 1.2em;
    margin: 3px 0px;
    width: 80%;
}

.store-item .item{
    justify-content: center;
    align-items: flex-start;
    flex-grow: 2;
    font-weight: bold;
}

.store-item .price{
    justify-items: flex-end;
    align-items: center;
    margin: 0px 40px;
}

.qty{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(24, 23, 23, 0.342);
    border-radius: 20px;
    color: grey;
    height: 35px;
    margin-bottom: 3px;
}

@media(max-width:400px){
    .store-item{
        padding: 0px 0px;
        font-size: 14px;
        grid-template-columns: 40% 30% 30%;
        width: 100%;
    }

    .menucard{
        width: 90%;
        margin: 20px auto;
    }
}
