.item{
    margin: 10px 10px;
}

.price{
    margin: 10px 10px;
}

.itemqty{
    margin: 10px 10px;
}

.store-bill{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    border-bottom: 2px grey solid;
    font-size: 1.2em;
    border-top: 2px grey solid;
}

.storeBillItem{
    display: grid;
    grid-template-columns: 50% 20% 30%;
    justify-self: center;
}

.storeitems-card{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-grow: 2;
    font-weight: bold;
}


.storeqty-card{
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.storeprice-card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.store-bill-total{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0px 20px;
    font-size: 1.2em;
}

.storeitems-total{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-grow: 2;
    font-weight: bold;
}

.storeprice-total{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.store-price{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 40px 20px 40px;
}

.checkout-title{
    padding: 0px 5px;
}

.checkout-icon{
    padding: 0px 5px;
}

.billcard{
    width: 19vw;
}
@media(max-width: 1550px){
    .billcard{
        width: 100%;
        margin: 0px auto;
        margin-top:  10px;
    }

    .billcard div{
        font-size: 14px;
    }
}