.categoryLog{
    border-left: 4px solid grey;
    border-right: 4px solid grey;
    padding: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.save-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}